[Desktop Entry]
Version=1.0
Type=Application
Name=neocat
Comment=NeoFetch Theme Pack!
Exec=neocat --application
Icon=/usr/share/icons/neocat.png
Path=/usr/share/neocat
Terminal=true
StartupNotify=false
